# DB
spring:
  datasource:
    url: jdbc:mysql://${OPENSHIFT_EXTMYSQL_DB_HOST}:${OPENSHIFT_EXTMYSQL_DB_PORT}/${OPENSHIFT_EXTAPP_NAME}
    username: ${OPENSHIFT_EXTMYSQL_DB_USERNAME}
    password: ${OPENSHIFT_EXTMYSQL_DB_PASSWORD}
  jackson:
    property-naming-strategy: CAMEL_CASE_TO_LOWER_CASE_WITH_UNDERSCORES
    serialization-inclusion: non_empty
    serialization.WRITE_DATES_AS_TIMESTAMPS: false
  jpa.hibernate.ddl-auto: update
#  jpa.properties.hibernate.current_session_context_class: org.springframework.orm.hibernate4.SpringSessionContext

hibernate.dialect: org.hibernate.dialect.MySQL5Dialect

logging:
  level:
    org: warn
    org.ayfaar: trace
#    org.springframework: warn
#  pattern:
#    console: "%clr(%d{HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:%5p}) %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"

mail.user: some@gmail.com
mail.password: some

pushbullet.key: v1Izhxi9HgremmZ8ZqEyAh0xbW7xJHLYWYujz0VEpiRR6
pushbullet.channel: ii
youtube.api.key: AIzaSyDZ2HuAgqxzjXCyzlkhN67pXcYtW_WuVLk