<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.mail.javamail.JavaMailSenderImpl" >
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="${mail.user}" />
		<property name="password" value="${mail.password}" />
	 
		<property name="javaMailProperties">
		   <props>
				  <prop key="mail.smtp.auth">true</prop>
				  <prop key="mail.smtp.starttls.enable">true</prop>
			   </props>
		</property>
	</bean>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate"/>

    <bean class="com.pushbullet.PushbulletClient">
        <property name="key" value="${pushbullet.key}"/>
        <property name="restTemplate" ref="restTemplate"/>
    </bean>

    <bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
        <property name="poolSize" value="2"/>
    </bean>
</beans>