<!DOCTYPE html>
<html lang="ru" ng-app="app">
<head>
	<meta name='yandex-verification' content='4bbcc914862aaad9' />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <base href="/" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta name="description" content="{{ metaDescription }}">-->
    <!--<meta name="keywords" content="{{ metaKeywords }}">-->

    <link href="static/images/favicon.ico" rel="shortcut icon">
    <title>Интерактивная Ииссиидиология</title>

    <link href="static/lib/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="static/css/style.css" type="text/css" rel="stylesheet">
    <link href="static/css/icons/style.css" rel="stylesheet" type="text/css" />

    <script src="static/lib/angular/angular.min.js"></script>
    <script src="static/lib/angular/angular-resource.min.js"></script>
    <script src="static/lib/angular/angular-sanitize.min.js"></script>
    <script src="static/lib/angular-ui-router.min.js"></script>
    <script src="static/lib/ui-bootstrap/ui-bootstrap-0.11.2.min.js"></script>

    <script src="static/js/controllers/common.js"></script>
    <script src="static/js/controllers/term.js"></script>
    <script src="static/js/app.js"></script>
    <script>
        app.constant('config', {useHtml5Mode: true, apiUrl: "/api/"});
    </script>
</head>

<body>
<header ii-header ng-hide="hideLoop"></header>

<div ui-view></div>
<div style="position: absolute; right: 0;top: 35px; width: 400px">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-51463207-1', 'ayfaar.org');
</script>
<script type="text/ng-template" id="template/alert/alert.html">
    <div class="alert" ng-class="['alert-' + (type || 'warning'), closeable ? 'alert-dismissable' : null]" role="alert">
        <button ng-show="closeable" type="button" class="close" ng-click="close()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <div ng-transclude></div>
    </div>
</script>
<script type="text/ng-template" id="contribute-form.html">
    <div class="modal-header">
        <h3 class="modal-title">Панель модератора</h3>
    </div>
    <div class="modal-body">
        <input id="search-input" ng-model="term" type="text" class="form-control"
               ii-lookup placeholder="Введите термин" required
               typeahead="suggestion for suggestion in $getSuggestions($viewValue)"/>
        <textarea class="full-width form-control" ng-model="text" style="margin-top: 10px; min-height: 100px"></textarea>
    </div>
    <div class="modal-footer btn-group">
        <button class="btn btn-default" ng-click="quote()">Цитата</button>
        <button class="btn btn-default" ng-click="link(1)" style="margin: 0">Синоним</button>
        <button class="btn btn-default" ng-click="link(2)" style="margin: 0">Сокращение</button>
        <button class="btn btn-default" ng-click="link(4)" style="margin: 0">Космический Код</button>
        <button class="btn btn-default" ng-click="link(0)" style="margin: 0">Склонённый</button>
    </div>
</script>
</body>
</html>
