<div ng-show="user">
    <img ng-src="{{user.thumbnail}}" style="border-radius: 50%;"/>
    <span class="user-name pointer" ng-click="updateName()" title="Изменить имя">{{user.name}}<i class="btn glyphicon glyphicon-pencil edit-button"></i></span>

    <h2 ng-show="pendingActions.length">Действия нуждающиеся в подтверждении</h2>
    <div ng-repeat="action in pendingActions" style="padding-top: 10px">
        <span ii-bind="action.text"></span>
        <a class="btn btn-default" ng-hide="action.owner" ng-click="confirm(action.id)">Подтвердить</a>
        <a class="btn btn-link" ng-click="cancel(action.id)">Отменить</a>
    </div>
</div>
<h1 ng-hide="user">Для доступа требуется авторизация</h1>
<style type="text/css">
    .edit-button {visibility: hidden;}
    .user-name:hover .edit-button {visibility: visible}
</style>