<div ng-show="user">
    <img ng-src="{{user.thumbnail}}" style="border-radius: 50%;"/>
    {{user.name}} <i ng-click="updateName()" class="btn glyphicon glyphicon-pencil" title="Изменить имя"></i>

    <h2 ng-show="pendingActions.length">Действия нуждающиеся в подтверждении</h2>
    <div ng-repeat="action in pendingActions" style="padding-top: 10px">
        <span ii-bind="action.text"></span>
        <a class="btn btn-default" ng-hide="action.owner" ng-click="confirm(action.id)">Подтвердить</a>
        <a class="btn btn-link" ng-click="cancel(action.id)">Отменить</a>
    </div>
</div>
<h1 ng-hide="user">Для доступа требуется авторизация</h1>