<div ng-show="user">
    <img ng-src="{{user.thumbnail}}" style="border-radius: 50%;max-width: 100px"/>
    <span class="user-name pointer" title="Изменить имя">{{user.name}}
        <i ng-click="updateName()" class="btn glyphicon glyphicon-pencil edit-button"></i>
        <a class="btn btn-link nopadding exit" href="/logout"><i class="glyphicon glyphicon-log-out"></i> Выйти</a>
    </span>

    <h2 ng-show="pendingActions.length">Действия нуждающиеся в подтверждении</h2>
    <div ng-repeat="action in pendingActions" style="padding-top: 10px">
        <span ii-bind-lite="action.text"></span>
        <a class="btn btn-default" ng-hide="action.owner" ng-click="confirm(action.id)">Подтвердить</a>
        <a class="btn btn-link" ng-click="cancel(action.id)">Отменить</a>
    </div>
    <div ng-show="hasActions" style="padding-top: 10px">
        <h2 style="display: inline;padding-top: 10px">Последние действия в системе</h2>
        <a class="btn btn-link gray" ng-click="hideActions()">отметить все как просмотренные</a>

        <div ng-repeat="(header, actions) in lastActions">
            <div class="grey" style="padding-top: 30px">{{header}}</div>
            <div style="padding-top: 10px" ng-repeat="action in actions" ii-bind-lite="action.message"></div>
        </div>
    </div>
</div>
<h1 ng-hide="user">Для доступа требуется авторизация</h1>
<style type="text/css">
    .edit-button, .exit {visibility: hidden;}
    .user-name:hover .edit-button, .user-name:hover .exit {visibility: visible}
</style>