<div>
    <div ng-show="showUrlInput && !doc">
        <div class="input-group" style="padding-top: 20px">
            <input ng-model="url" placeholder="Вставте ссылку на документ" class="form-control"/>
            <span class="input-group-btn">
                <button ng-click="add()" class="btn btn-primary" ng-class="docLoading ? 'disabled' : ''">Добавить</button>
            </span>
        </div>
        <div ng-show="docLoading"><img src="static/images/ajax-loader.gif"/>Добавление...</div>
        <div style="padding-top: 20px">
            <span class="grey">Последние 9 добавленных документов</span>
            <div class="row">
                <document-card ng-repeat="doc in last" doc="doc" class="col-md-4"></document-card>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div ng-show="doc">
        <a href="d/">← К списку</a>
        <div class="title">
            <h2 class="inline">{{doc.name}}</h2>
            <a href="https://drive.google.com/uc?export=view&id={{doc.id}}" target="_blank" class="btn btn-default glyphicon glyphicon-new-window" title="Открыть в отдельном окне"></a>
        </div>
        <!--<a href="{{doc.download_url}}"  target="_blank" class="btn btn-default">Скачать</a>-->
        <br>
        <google-doc id="doc.id"></google-doc>
        <br>
        <topics owner-uri="doc.uri"></topics>
    </div>
</div>
<style type="text/css">
    .title .glyphicon {visibility: hidden}
    .title:hover .glyphicon {visibility: visible}
</style>