<div>
    <div ng-show="showUrlInput && !doc">
        <div class="input-group" style="padding-top: 20px">
            <input ng-model="url" placeholder="Вставте ссылку на документ" class="form-control"/>
            <span class="input-group-btn">
                <button ng-click="add()" class="btn btn-primary" ng-class="docLoading ? 'disabled' : ''">Добавить</button>
            </span>
        </div>
        <div ng-show="docLoading"><img src="static/images/ajax-loader.gif"/>Добавление...</div>
        <div style="padding-top: 20px">
            <span class="grey">Последние 8 добавленных документов</span>
            <div class="row">
                <div ng-repeat="doc in last" ii-ref="doc" class="col-md-3" style="height: 250px">
                    <img ng-src="https://i.ytimg.com/vi/{{doc.id}}/mqdefault.jpg" style="display: block; padding: 5px;width: 170px;"/>
                    <a style="font-size: small">{{doc.title}}</a>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div ng-show="doc">
        <a href="d/">← К списку</a>
        <div class="title">
            <h2 class="inline">{{doc.name}}</h2>
            <a href="https://drive.google.com/uc?export=view&id={{doc.id}}" target="_blank" class="btn btn-default glyphicon glyphicon-new-window" title="Открыть в отдельном окне"></a>
        </div>
        <!--<a href="{{doc.download_url}}"  target="_blank" class="btn btn-default">Скачать</a>-->
        <br>
        <google code="doc.id"></google>
        <br>
        <topics owner-uri="doc.uri"></topics>
    </div>
</div>
<style type="text/css">
    .title .glyphicon {visibility: hidden}
    .title:hover .glyphicon {visibility: visible}
</style>