<div>
    <div ng-show="showUrlInput && !img">
        <div class="input-group" style="padding-top: 20px">
            <input ng-model="url" placeholder="Вставте ссылку на изображение" class="form-control"/>
            <span class="input-group-btn">
                <button ng-click="add()" class="btn btn-primary" ng-class="imgLoading ? 'disabled' : ''">Добавить</button>
            </span>
        </div>
        <div ng-show="imgLoading"><img src="static/images/ajax-loader.gif"/>Добавление...</div>
        <div style="padding-top: 20px">
            <span class="grey">Последние добавленные изображения</span>
            <div class="row">
                <!--<image-card ng-repeat="img in last" img="img" class="col-md-4"></image-card>-->
                <div ng-repeat="img in last" class="col-xs-6 col-sm-4">
                    <div ii-ref="img" class="card picture">
                        <img ng-src="https://drive.google.com/thumbnail?sz=w210-h210-p-k-nu&id={{img.id}}"/>
                        <div title="{{img.name}}">{{img.name | cut:false:65}}</div>
                    </div>
                </div>
            </div>
            <a ng-click="getMore()" ng-hide="lastNoMore" class="btn btn-link" ng-class="imgLoading ? 'disabled' : ''">{{imgLoading ? 'Загрузка...' : 'Загрузить ещё'}}</a>
        </div>
        <div style="clear: both"></div>
    </div>
    <div ng-show="img">
        <a href="picture/">← К списку изображений</a>
        <div class="title">
            <h2 class="inline">{{img.name}}</h2>
            <i class="btn h glyphicon glyphicon-pencil gray" ng-click="rename(img)" title="Переименовать ответ"></i>
            <a href="https://drive.google.com/uc?export=view&id={{img.id}}" target="_blank" class="btn btn-default glyphicon glyphicon-new-window" title="Открыть в отдельном окне"></a>
        </div>
        <!--<a href="{{doc.download_url}}"  target="_blank" class="btn btn-default">Скачать</a>-->
        <br>
        <a href="https://drive.google.com/uc?export=view&id={{img.id}}" target="_blank">
            <img style="width: 100%" ng-show="img.mime_type.indexOf('image') == 0" ng-src="https://drive.google.com/thumbnail?sz=w600&id={{img.id}}"/>
        </a>
        <google-doc ng-hide="img.mime_type.indexOf('image') == 0" id="img.id"></google-doc>
        <br>
        <br>
        <topics owner-uri="img.uri"></topics>
    </div>
</div>
<style type="text/css">
    .title .glyphicon {visibility: hidden}
    .title:hover .glyphicon {visibility: visible}
</style>