<div>
    <div ng-show="showUrlInput && !img">
        <div class="input-group" style="padding-top: 20px">
            <input ng-model="searchImg" placeholder="Поиск изображения" ng-change="searchChange()" class="form-control"/>
            <span class="input-group-btn">
                <button ng-click="searchImage()" class="btn btn-primary" ng-class="imgLoading || imgSearchLoading ? 'disabled' : ''">{{imgSearchLoading ? 'Поиск...' : 'Поиск'}}</button>
            </span>
        </div>
        <div style="padding-top: 20px">
            <div ng-show="!imgSearchLoading && imgSearching && !last.length" class="gray">Иллюстраций или схем по запросу не найдено, измените запрос</div>
            <div ng-show="imgSearchLoading"><img src="static/images/ajax-loader.gif"/>Поиск...</div>
            <div ng-hide="imgSearching"><span class="grey">Последние добавленные изображения</span></div>
            <div class="row">
                <!--<image-card ng-repeat="img in last" img="img" class="col-md-4"></image-card>-->
                <div ng-repeat="img in last" class="col-xs-6 col-sm-4">
                    <div ii-ref="img" class="card picture" ng-class="img.hint ? 'with-hint' : ''">
                        <img ng-src="https://drive.google.com/thumbnail?sz=w210-h210-p-k-nu&id={{img.id}}"/>
                        <div title="{{img.name}}" ng-bind-html="img.name | highlight:searchImg"></div>
                        <span title="{{img.hint}}" class="gray small" ng-bind-html="img.hint | highlight:searchImg"></span>
                    </div>
                </div>
            </div>
            <a ng-click="getMore()" ng-hide="lastNoMore || imgSearching" class="btn btn-link" ng-class="imgLoading ? 'disabled' : ''">{{imgLoading ? 'Загрузка...' : 'Загрузить ещё'}}</a>
        </div>
        <div style="clear: both"></div>
        <div ng-hide="searchMode" class="input-group" style="padding-top: 20px">
            <input ng-model="url" placeholder="Вставте ссылку на изображение" class="form-control"/>
            <span class="input-group-btn">
                <button ng-click="add()" class="btn btn-default" ng-class="imgLoading ? 'disabled' : ''">Добавить</button>
            </span>
            <div ng-show="imgLoading"><img src="static/images/ajax-loader.gif"/>Добавление...</div>
        </div>

    </div>
    <div ng-show="img">
        <a href="picture/">← К списку изображений</a>
        <div class="title">
            <h2 class="inline">{{img.name}}</h2>
            <i class="btn h glyphicon glyphicon-pencil gray" ng-click="rename(img)" title="Переименовать ответ"></i>
            <a href="https://drive.google.com/uc?export=view&id={{img.id}}" target="_blank" class="btn btn-default glyphicon glyphicon-new-window" title="Открыть в отдельном окне"></a>
        </div>
        <!--<a href="{{doc.download_url}}"  target="_blank" class="btn btn-default">Скачать</a>-->
        <br>
        <a href="https://drive.google.com/uc?export=view&id={{img.id}}" target="_blank">
            <img style="width: 100%" ng-show="img.mime_type.indexOf('image') == 0" ng-src="https://drive.google.com/thumbnail?sz=w600&id={{img.id}}"/>
        </a>
        <google-doc ng-hide="img.mime_type.indexOf('image') == 0" id="img.id"></google-doc>
        <br>
        <div ng-hide="showAddImgComment" class="topic-comment medium">{{img.comment}}
            <i ng-click="updateComment(img)" class="btn glyphicon glyphicon-pencil" title="Редактировать коментарий"></i>
        </div>
        <div ng-show = "commentIsEmpty">
            <a class="btn btn-link gray" ng-hide="showAddImgComment" ng-click="showAddImgComment = !showAddImgComment">
                <i class="glyphicon glyphicon-comment"></i>
                добавить коментарий</a>
            <div ng-show="showAddImgComment">
                Коментарий
                <textarea ng-model="img.comment" rows="3" class="full-width form-control" ></textarea>
                <a class="btn btn-primary" ng-click="addComment(img)" style="margin-top: 15px;">Добавить коментарий</a>
                <a class="btn btn-link gray middle" ng-click="showAddImgComment = false">скрыть</a>
            </div>
        </div>
        <br>
        <topics owner-uri="img.uri"></topics>
    </div>
</div>
<style type="text/css">
    .title .glyphicon {visibility: hidden}
    .title:hover .glyphicon {visibility: visible}
</style>