<div style="padding-bottom: 20px;">
    <a ng-click="goPrev()" class="btn btn-link item-link">←</a>
    <h1 class="item-number">{{number}}</h1>
    <a ng-show="next" ng-click="goNext()" class="btn btn-link item-link">→</a>
</div>
<div>
    <span ii-bind="content"></span>
    <button ng-show="content" class="btn btn-default btn-icon" uri="uri" text="content" contribute-button></button>
    <a ng-show="next" ng-click="goNext()" class="btn btn-link item-link">→</a>
</div>
<br/>
<p parents></p>

<style type="text/css">
    .item-number {
        display: inline;
        line-height: 30px;
    }
    .item-link {
        font-size: 3em;
        line-height: 15px;
    }
</style>