<div style="padding-top: 20px">
    <div ng-show="recordLoading"><img src="static/images/ajax-loader.gif"/>Загрузка...</div>
    <div style="padding-top: 20px" ng-hide="recordLoading && !last.length">
        <div ng-show="singleMode">
            <a href="r/">← Показать все ответы</a>
            <div class="header top-gap">
                <i ng-show="record.url" class="glyphicon pointer play-button" title="{{record.played ? 'Остановить' : 'Прослушать'}}"
                   ng-class="record.played ? 'glyphicon-pause' : 'glyphicon-play'"
                   ng-click="playOrPause(record)" style="font-size: 170%"></i>
                &nbsp;<h2 class="inline">{{record.name}}</h2>
                <span class="gray">({{record.duration | duration:'mm:ss' }})</span>
                &nbsp;<a title="Скачать" style="text-decoration: none" class="pointer glyphicon glyphicon-download gray" target="_blank" href="api/record/{{record.code}}/download/{{record.code}} {{record.name}}.mp3"></a>
                &nbsp;<i class="pointer h glyphicon glyphicon-pencil gray" ng-click="rename(record)" title="Переименовать ответ"></i>
            </div>
            <span class="gray">{{record.code}}</span>
            <topics owner-uri="record.uri" style="padding-top: 20px; display: block"></topics>
        </div>
        <div ng-hide="singleMode">
            <div class="pointer" style="padding-bottom: 20px">
                <h3 style="display: inline">Аудио Ответы</h3>
            </div>
            <div style="padding-bottom: 20px">
                Год: <select class="form-control" ng-model="yearFilter" style="display: inline; width: 85px;" ng-change="update()">
                    <option></option>
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                    <option>2015</option>
                    <option>2014</option>
                    <option>2013</option>
                    <option>2012</option>
                    <option>2011</option>
                    <option>2010</option>
                </select>

                <select class="form-control inline" ng-model="kindFilter" style="width: 100px" ng-change="update()" placeholder="Тип">
                    <option></option>
                    <option value="k">Коллокувиумы</option>
                    <option value="b">Беседы</option>
                </select>
                <input placeholder="Название или код содержит"  class="form-control" ng-model="nameFilter" style="display: inline;width: 300px;"/>
                <a ng-click="update()" class="btn btn-default">Обновить</a>
            </div>
            <record-card ng-repeat="record in last" record="record" change="update"></record-card>
            <a ng-click="getMore()" ng-hide="lastNoMore" class="btn btn-link" ng-class="recordLoading ? 'disabled' : ''">{{recordLoading ? 'Загрузка...' : 'Загрузить ещё'}}</a>
        </div>
    </div>
</div>
<style type="text/css">
    .header:hover .h {visibility: visible}
    .header .h {visibility: hidden}
</style>

