<div>
    <div ng-show="showUrlInput && !video">
        <div class="input-group" style="padding-top: 20px">
            <input ng-model="url" placeholder="Вставте ссылку на видео" class="form-control"/>
            <span class="input-group-btn">
                <button ng-click="save()" class="btn btn-primary" ng-class="videoLoading ? 'disabled' : ''">Добавить</button>
            </span>
        </div>
        <div ng-show="videoLoading"><img src="static/images/ajax-loader.gif"/>Добавление видео...</div>
        <div style="padding-top: 20px">
            <span class="grey">Последние 8 добавленных видео</span>
            <div class="row">
                <div ng-repeat="video in lastTen" ii-ref="video" class="col-md-3" style="height: 250px">
                    <img ng-src="https://i.ytimg.com/vi/{{video.id}}/mqdefault.jpg" style="display: block; padding: 5px;width: 170px;"/>
                    <a style="font-size: small">{{video.title}}</a>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div ng-show="video">
        <a href="resource/video/">← К списку видео</a>
        <h2>{{video.title}}</h2>
        <youtube code="video.id"></youtube>
        <br>
        <br>
        <span ng-hide="topics.length">Не указано ни одной темы</span>
        <h3 ng-show="topics.length" class="grey">Темы видео:</h3>
        <div ng-repeat="topic in topics" class="topic">
            <rating ng-click="updateRate(topic)" ng-model="topic.rate" max="3" class="gray"></rating>
            <a topic-ref="topic">{{topic.name}}</a>
            <i class="btn h glyphicon glyphicon-comment nopadding gray" ng-click="updateComment(topic)" title="Добавить коментарий" ng-hide="topic.comment"></i>
            <i class="btn h glyphicon glyphicon-remove-circle nopadding gray" ng-click="removeTopic(topic)" title="Отменить тему"></i>
            <div class="topic-comment small gray">{{topic.comment}}
                <i ng-click="updateComment(topic)" class="btn glyphicon glyphicon-pencil" title="Редактировать коментарий"></i>
            </div>
        </div>

        <div style="padding-bottom: 600px">
            <div style="padding-top: 20px" class="gray">
                <h3>Добавить тему</h3>
                <div class="input-group">
                    <input ng-model="newTopic.name" type="text" class="form-control" placeholder="Введите название темы"
                           typeahead="suggestion for suggestion in getSuggestions($viewValue)">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="openSelector()">Выбрать из списка</button>
                    </span>
                </div>
                Коментарий к связи с темой
                <textarea ng-model="newTopic.comment" rows="3" class="full-width form-control"></textarea>
                Степень значимости темы
                <rating ng-model="newTopic.rate" max="3"></rating>
                <br>
                <a class="btn btn-primary" ng-click="addTopic()" style="margin-top: 15px;">Добавить тему</a>
            </div>
        </div>
    </div>
    <style>
        .topic {padding-top: 20px}
        .topic>span { font-size: 120% }
        .topic .h {display: none}
        .topic:hover .h {display: inline}
        .topic-comment .glyphicon { display: none }
        .topic-comment:hover .glyphicon { display: inline }
        /*.topic-comment {padding-left: 65px;}*/
    </style>
    <script type="text/ng-template" id="prompt.html">
        <div class="modal-header">
            <h3 class="modal-title">Редактирование коментария</h3>
        </div>
        <div class="modal-body">
            <textarea ng-model="comment" rows="3" class="full-width form-control"></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Сохранить</button>
            <button class="btn btn-default" ng-click="cancel()">Отменить</button>
        </div>
    </script>
</div>