<div>
    <div ng-show="showUrlInput && !video">
        <div class="input-group" style="padding-top: 20px">
            <input ng-model="url" placeholder="Вставте ссылку на видео" class="form-control"/>
            <span class="input-group-btn">
                <button ng-click="save()" class="btn btn-primary" ng-class="videoLoading ? 'disabled' : ''">Добавить</button>
            </span>
        </div>
        <div ng-show="videoLoading"><img src="static/images/ajax-loader.gif"/>Добавление видео...</div>
        <div style="padding-top: 20px">
            <span class="grey">Последние 8 добавленных видео</span>
            <div class="row">
                <div ng-repeat="video in lastTen" ii-ref="video" class="col-md-3" style="height: 250px">
                    <img ng-src="https://i.ytimg.com/vi/{{video.id}}/mqdefault.jpg" style="display: block; padding: 5px;width: 170px;"/>
                    <a style="font-size: small">{{video.title}}</a>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div ng-show="video">
        <a href="resource/video/">← К списку видео</a>
        <h2>{{video.title}}</h2>
        <youtube code="video.id"></youtube>
        <br>
        <br>
        <span ng-hide="topics.length">Не указано ни одной темы</span>
        <span ng-show="topics.length" class="grey">Темы видео:</span>
        <ul>
            <li ng-repeat="topic in topics" class="topic">{{topic.name}}
                <rating ng-click="updateRate(topic)" ng-model="topic.rate" max="3"></rating>
                <a class="btn btn-link" ng-click="removeTopic(topic)">удалить</a>
            </li>
        </ul>

        <div style="padding-bottom: 600px">
            <div class="input-group" style="padding-top: 20px">
                <input ng-model="newTopic" type="text" class="form-control" placeholder="Введите новую тему"
                       typeahead="suggestion for suggestion in getSuggestions($viewValue)">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="addTopic()">Добавить тему</button>
                </span>
            </div>
        </div>
    </div>
    <style>
        li.topic {
            list-style-type: decimal;
        }
    </style>
</div>