<span ng-hide="loading || topics.length">Не указано ни одной темы</span>
<h3 ng-show="topics.length" class="grey">Прикреплённые темы:</h3>
<div ng-show="loading"><img src="static/images/ajax-loader.gif"/>Загрузка тем...</div>
<div ng-repeat="topic in topics" class="topic">
    <rating ng-click="updateRate(topic)" ng-model="topic.rate" max="3" class="gray"></rating>
    <a topic-ref="topic">{{topic.name}}</a>
    <i class="btn h glyphicon glyphicon-comment nopadding gray" ng-click="updateComment(topic)" title="Добавить коментарий" ng-hide="topic.comment"></i>
    <i class="btn h glyphicon glyphicon-remove-circle nopadding gray" ng-click="removeTopic(topic)" title="Отменить тему"></i>
    <div class="topic-comment small gray">{{topic.comment}}
        <i ng-click="updateComment(topic)" class="btn glyphicon glyphicon-pencil" title="Редактировать коментарий"></i>
    </div>
</div>

<div style="padding-bottom: 600px">
    <div style="padding-top: 20px" class="gray">
        <h3>Добавить тему</h3>
        <div class="input-group">
            <input ng-model="newTopic.name" type="text" class="form-control" placeholder="Введите название темы"
                   typeahead="suggestion for suggestion in getSuggestions($viewValue)">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="openSelector()">Выбрать из списка</button>
                    </span>
        </div>
        Коментарий к связи с темой
        <textarea ng-model="newTopic.comment" rows="3" class="full-width form-control"></textarea>
        Степень значимости темы
        <rating ng-model="newTopic.rate" max="3"></rating>
        <br>
        <a class="btn btn-primary" ng-click="addTopic()" style="margin-top: 15px;">Добавить тему</a>
    </div>
</div>

<style>
    .topic {padding-top: 20px}
    .topic>span { font-size: 120% }
    .topic .h {display: none}
    .topic:hover .h {display: inline}
    .topic-comment .glyphicon { display: none }
    .topic-comment:hover .glyphicon { display: inline }
    /*.topic-comment {padding-left: 65px;}*/
</style>