<div class="title">
    <div ng-show="parents && !loading" class="parents" style="padding-bottom: 20px">
        <span class="gray">Входит в:</span>
        <a ng-repeat="parent in parents" topic-ref="parent">{{parent}}{{$last ? '' : ', '}}</a>
        <i class="h btn glyphicon glyphicon-plus-sign nopadding" ng-click="addParent()" title="Добавить родительское ключевое слово"></i>
    </div>
    <div class="gray">Ключевое слово:</div>
    <h1 class="inline" style="padding-bottom: 20px">{{name}}</h1>
    <br>
    <a ng-hide="loading" class="h btn btn-default" ng-click="addParent()">Добавить родительское кл. слово</a>
    <a ng-hide="loading" class="h btn btn-default" ng-click="addChild()">Добавить дочернее кл. слово</a>
    <a class="h btn btn-link" ng-click="merge()">Объединить с другим кл. словом</a>
    <a class="h btn btn-link" ng-click="linkToTerm()">Связать с термином</a>
</div>
<div ng-show="loading"><img src="static/images/ajax-loader.gif"/>Загрузка...</div>
<div ng-hide="loading">
    <a class="btn btn-primary" ng-show="term" ng-click="search(term)">
        Перейти на описание термина
    </a>
    <a class="btn btn-default" ng-show="suggested_term" ng-click="search(suggested_term)">
        Просмотреть похожий термин "{{suggested_term}}"
    </a>
    <div style="padding-top: 20px">
        <div ng-show="children" class="children">
            <span class="gray">Дочерние ключевые слова</span>
            <i class="h btn glyphicon glyphicon-plus-sign nopadding" ng-click="addChild()" title="Добавить дочернее ключевое слово"></i>
            <span class="linked-topic" ng-repeat="child in children">
                <h4 class="topic" topic-ref="child" title="{{child}}">{{child | cut:true:70}}</h4>
                <a class="btn glyphicon glyphicon-remove" ng-click="unlink(child)" title="Удалить связь с ключевым словом"></a>
            </span>
        </div>
    </div>
    <div style="padding-top: 20px">
        <div ng-show="resources.item || resources.items_range" class="children">
            <span class="gray">Прикреплённые абзацы</span>
            <div ng-repeat="range in resources.items_range">
                <a ii-ref="range.resource">{{range.resource.code}}</a>
            </div>
            <div ng-repeat="item in resources.item">
                <blockquote ng-show="item.quote">
                    <div ii-bind="item.quote"></div>
                    <cite>&mdash; <a ii-ref="item.resource">{{item.resource.number}}</a>
                    </cite>
                </blockquote>
                <a ng-hide="item.quote" ii-ref="item.resource">{{item.resource.number}}</a>
            </div>
        </div>
    </div>
    <div style="padding-top: 20px">
        <div ng-show="resources.video" class="children">
            <span class="gray">Прикреплённые видео</span>
            <i class="h btn glyphicon glyphicon-plus-sign nopadding" ng-click="addVideoResource()" title="Прикрепить видео"></i>
            <div class="row">
                <video-card ng-repeat="link in resources.video" video="link.resource" rate="link.rate" class="col-md-4"></video-card>
            </div>
        </div>
        <!--<a ng-hide="resources.video" class="btn btn-link" ng-click="addVideoResource()">Прикрепить видео</a>-->
    </div>
    <div ng-show="resources.image.length" class="children">
        <span class="gray">Прикреплённые иллюстрации и схемы</span>
        <div class="row">
            <div ng-repeat="resHolder in resources.image" class="col-xs-6 col-sm-4">
                <div ii-ref="resHolder.resource" class="card picture">
                    <img ng-src="https://drive.google.com/thumbnail?sz=w210-h210-p-k-nu&id={{resHolder.resource.id}}"/>
                    <div title="{{resHolder.resource.name}}">{{resHolder.resource.name | cut:false:65}}</div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="resources.document.length" class="children">
        <span class="gray">Прикреплённые документы</span>
        <i class="h btn glyphicon glyphicon-plus-sign nopadding" ng-click="addDocResource()" title="Прикрепить документ"></i>
        <div class="row">
            <document-card ng-repeat="link in resources.document" doc="link.resource" class="col-md-4"></document-card>
        </div>
    </div>
    <!--<a ng-hide="resources.document.length" class="btn btn-link" ng-click="addDocResource()">Прикрепить документ</a>-->
    <div ng-show="resources.record" class="children">
        <span class="gray">Прикреплённые аудио записи</span>
        <record-card ng-repeat="record in resources.record" rate="record.rate" record="record.resource" exclude-topic="name"></record-card>
    </div>
    <a class="btn btn-default" ng-hide="term" ng-click="search(name)">
        <i class="icon-search"></i> Искать в тексте Ииссиидиологии
    </a>
</div>
<style type="text/css">
    .title .h {visibility: hidden}
    .title:hover .h {visibility: visible}

    .parents .h {visibility: hidden}
    .parents:hover .h {visibility: visible}

    .children .h {visibility: hidden}
    .children:hover .h {visibility: visible}

    .linked-topic {
        padding: 10px 0 10px 0;
        display: block;
        white-space: nowrap;
    }
    .linked-topic .topic {
        text-align: left;
        display: inline;
        cursor: pointer;
    }
    .linked-topic .glyphicon {display: none; color: black}
    .linked-topic:hover .glyphicon {display: inline}
</style>
