<div class="title">
    <span class="gray">Тема:</span>
    <h1 class="inline" style="padding-bottom: 20px">{{name}}</h1>
    <br>
    <a ng-hide="loading || parents" class="h btn btn-default" ng-click="addParent()">Добавить родительскую тему</a>
    <a ng-hide="loading || children" class="h btn btn-default" ng-click="addChild()">Добавить дочернюю тему</a>
    <a class="h btn btn-link" ng-click="merge()">Объединить с другой темой</a>
</div>
<div ng-show="loading"><img src="static/images/ajax-loader.gif"/>Загрузка...</div>
<div ng-hide="loading">
    <div ng-show="parents" class="parents h" style="padding-top: 20px">
        <span class="gray">Родительские темы:</span>
        <a ng-repeat="parent in parents" topic-ref="parent">{{parent}}{{$last ? '' : ', '}}</a>
        <i class="h btn glyphicon glyphicon-plus-sign nopadding" ng-click="addParent()" title="Добавить родительскую тему"></i>
    </div>
    <div style="padding-top: 20px">
        <div ng-show="children" class="children">
            <span class="gray">Дочерние темы</span>
            <i class="h btn glyphicon glyphicon-plus-sign nopadding" ng-click="addChild()" title="Добавить дочернюю тему"></i>
            <span class="linked-topic" ng-repeat="child in children">
                <h4 class="topic" topic-ref="child" title="{{child}}">{{child | cut:true:70}}</h4>
                <a class="btn glyphicon glyphicon-remove" ng-click="unlink(child)" title="Удалить связь с темой"></a>
            </span>
        </div>
    </div>
    <div style="padding-top: 20px">
        <div ng-show="resources.video" class="children">
            <span class="gray">Прикреплённые видео</span>
            <i class="h btn glyphicon glyphicon-plus-sign nopadding" ng-click="addVideoResource()" title="Прикрепить видео"></i>
            <div class="row">
                <video-card ng-repeat="link in resources.video" video="link.resource" class="col-md-4"></video-card>
            </div>
        </div>
        <a ng-hide="resources.video" class="btn btn-link" ng-click="addVideoResource()">Прикрепить видео</a>
    </div>
    <div style="padding-top: 20px">
        <div ng-show="resources.item" class="children">
            <span class="gray">Прикреплённые абзацы</span>
            <div ng-repeat="item in resources.item">
                <blockquote ng-show="item.quote">
                    <div ii-bind="item.quote"></div>
                    <cite>&mdash; <a ii-ref="item.resource">{{item.resource.number}}</a>
                    </cite>
                </blockquote>
                <a ng-hide="item.quote" ii-ref="item.resource">{{item.resource.number}}</a>
            </div>
        </div>
    </div>
    <div ng-show="resources.document.length" class="children">
        <span class="gray">Прикреплённые документы</span>
        <i class="h btn glyphicon glyphicon-plus-sign nopadding" ng-click="addDocResource()" title="Прикрепить документ"></i>
        <div class="row">
            <document-card ng-repeat="link in resources.document" doc="link.resource" class="col-md-4"></document-card>
        </div>
    </div>
    <a ng-hide="resources.document.length" class="btn btn-link" ng-click="addDocResource()">Прикрепить документ</a>
    <div ng-show="resources.record" class="children">
        <span class="gray">Прикреплённые аудио записи</span>
            <div ng-repeat="record in resources.record" title="{{record.resource.code}}" style="padding: 10px 0;">
                <i ng-show="record.resource.audio_url" class="glyphicon"
                   ng-class="record.played ? 'glyphicon-pause' : 'glyphicon-play'"
                   ng-click="record.played ? audio.pause() : play(record)"
                   style="width: 20px;font-size: 120%;"></i>
                {{record.resource.name}} <span class="gray">{{record.resource.code}}</span>
            </div>
    </div>
</div>
<style type="text/css">
    .title .h {visibility: hidden}
    .title:hover .h {visibility: visible}

    .parents .h {visibility: hidden}
    .parents:hover .h {visibility: visible}

    .children .h {visibility: hidden}
    .children:hover .h {visibility: visible}

    .linked-topic {
        padding: 10px 0 10px 0;
        display: block;
        white-space: nowrap;
    }
    .linked-topic .topic {
        text-align: left;
        display: inline;
        cursor: pointer;
    }
    .linked-topic .glyphicon {display: none; color: black}
    .linked-topic:hover .glyphicon {display: inline}
</style>
