<div class="modal-header">
    <h3 class="modal-title">Выбор темы</h3>
</div>
<div class="modal-body">
    <div class="input-group">
        <input ng-model="topic" type="text" class="form-control" placeholder="Введите название темы"
               typeahead="suggestion for suggestion in suggestTopics($viewValue)">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="openSelector()">Выбрать из списка</button>
                </span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Отмена</button>
    <button class="btn btn-primary" ng-click="select()">Выбрать тему</button>
</div>