<div ng-show="visible">
    <a class="title" ng-hide="expanded" href="/">Интерактивная Ииссиидиология</a>
    <input ng-show="expanded" id="search-input" ng-model="query" class="form-control" type="text" placeholder="Введите термин или фразу"
           ii-lookup ng-blur="closeWithDelay()"
           typeahead-append-to-body="true" ng-focus="focused = true"
           typeahead="suggestion for suggestion in $getSuggestions($viewValue)"
           typeahead-on-select="expanded = false;$suggestionSelected($label)"
           on-enter="expanded = false" />
    <a ng-hide="expanded" class="icon-search" ng-click="expand()" title="Искать"></a>
</div>
    <!--<aside ng-show="expanded">
    </aside>-->
