<div class="home">
    <div class="header">
        <img src="images/logo.png" alt="Ииссиидиология">
    </div>
    <h1>Интерактивная Ииссиидиология</h1>
    <div>
        Поиск пунктов, терминов, словосочетаний в материалах:
        <div class="input-group">
            <input ng-model="query" type="text" class="form-control" placeholder="Введите термин или фразу"
                   ii-lookup
                   typeahead="suggestion for suggestion in $getSuggestions($viewValue)"
                   typeahead-on-select="$suggestionSelected($label)">
            <span class="input-group-btn">
              <button class="btn btn-primary" ng-click="search(query)">Искать</button>
            </span>
        </div>
        <a href="c/Содержание" class="btn btn-link">Содержание</a>
    </div>
</div>