<div class="term">
    <span class="structure-item">Термин</span>
    <span ng-hide="editMode" class="current-term-title">{{name}}</span>
    <div ng-show="editMode">
        <div class="input-group" style="padding-top: 20px">
            <input ng-model="query" type="text" class="form-control" placeholder="Введите термин или фразу"
                   ii-lookup
                   typeahead="suggestion for suggestion in $getSuggestions($viewValue)"
                   typeahead-on-select="$suggestionSelected($label)">
            <span class="input-group-btn">
              <button class="btn btn-primary" ng-click="search(query)">Искать</button>
            </span>
        </div>
        <!--<span class="btn-link" style="color:#808080;" ng-hide="showSearchHelp" ng-click="showSearchHelp = true">как работает поиск</span>-->
        <!--<span ng-show="showSearchHelp" style="color:#808080">???<span class="btn btn-link" ng-click="showSearchHelp = false">скрыть этот текст</span></span>-->
        <div style="color:#808080" ng-show="query.indexOf('*') == -1 && query.indexOf(' ') == -1">Побробуйте со звёздочкой после корня слова для учёта всех вариантов
            окончания слова. Например "лийллусцивный" - "лийллусцивн*" (будут учтены "лийллусцивн<u>о</u>", "лийллусцивн<u>ые</u>",
            "лийллусцивн<u>ость</u>" и т. д. </div>
    </div>
    <div class="block loading" ng-show="loading">Загрузка...</div>
    <div ng-hide="loading && termFound">
        <span ng-show="from"><span class="structure-item">Перенапраленно с</span> {{from.name}}</span>
        <span ng-show="code"><span class="structure-item">Код понятия</span> {{code.name}}</span>
        <span ng-show="aliases.length"><span class="structure-item">Синонимы и сокращения</span>
            <span ng-repeat="alias in aliases">
                {{alias.name}}{{$last ? '' : ', '}}
            </span>
        </span>
        <div ng-show="shortDescription || description" style="margin-top: 10px">
            <span class="structure-item">Словарная статья свободной интерпретации:</span>
            <div class="highlight" style="margin-top: 2px">
                <p ng-show="shortDescription" ii-bind="shortDescription" class="shortDescription"></p>
                <p ng-show="description" ii-bind="description"></p>
            </div>
        </div>
        <div class="pointer section" title="Показать" ng-click="showQuotes = !showQuotes" ng-show="quotes.length">
            <h3>Избранные цитаты</h3> <span ng-hide="showQuotes">показать {{quotes.length}}</span>
        </div>
        <!--<span class="info" data-bind="invisible: description">Нет короткого определения</span>-->
        <blockquote ng-repeat="quote in quotes" ng-mouseover="quote.showControlls = true"
                    ng-mouseleave="quote.showControlls = false" ng-show="showQuotes">
            <div ii-bind="quote.full ? quote.full : quote.quote"></div>
            <cite>&mdash; <a ii-ref="quote">{{quote._label}}</a>
                <span ng-show="quote.showControlls">
                    <button ng-hide="quote.full || quote.loadingFull" class="btn btn-default btn-icon" ng-click="expand(quote)"
                            title="Показать весь пункт">
                        <i class="icon-maximize"></i>
                    </button>
                </span>
                <span ng-show="quote.loadingFull">Загрузка...</span>
            </cite>
        </blockquote>

        <div class="pointer section" title="Показать" ng-click="showCategories = !showCategories" ng-show="termFound && categories.length">
            <h3>Упоминания в содержании</h3> <span ng-hide="showCategories">показать {{categories.length}}</span>
        </div>
        <div ng-repeat="cat in categories" ng-show="showCategories" class="catBlock">
            <a ii-ref="cat">{{cat.path}}</a>
            <div ii-bind="cat.description"></div>
        </div>

        <span ng-show="related.length">Также связан с</span>
        <a ii-ref="link" ng-repeat="link in related" class="related-btn btn btn-link">{{link._label}}</a>
    </div>
    <div id="search">
        <div class="block loading" ng-show="loadingTerms">Загрузка...</div>
        <div ng-show="terms.length" class="catBlock">
            <div class="pointer section" title="Показать" ng-click="showTerms = !showTerms">
                <h3>Найдено в названиях терминов</h3> <span ng-hide="showTerms">показать {{terms.length}}</span>
            </div>
            <a style="display: block" ng-show="showTerms" ii-ref="term" ng-repeat="term in terms" ng-click="navigate(term.name)">{{term.name}}</a>
        </div>
        <div ng-show="articles.length" class="catBlock">
            <div class="pointer section" title="Показать" ng-click="showArticles = !showArticles">
                <h3>Найдено в 9 томе</h3> <span ng-hide="showArticles">показать {{articles.length}}</span>
            </div>
            <a style="display: block" ng-show="showArticles" ii-ref="article" ng-repeat="article in articles" ng-click="navigate(article)">{{article.name}}</a>
        </div>
        <div ng-show="!termFound && categories.length">
            <div class="pointer section" title="Показать" ng-click="showSCategories = !showSCategories">
                <h3>Найдено в содержании</h3> <span ng-hide="showSCategories">показать {{categories.length}}</span>
            </div>
            <div ng-repeat="cat in categories" ng-show="showSCategories" class="catBlock">
                <a ii-ref="cat">{{cat.path}}</a>
                <div ii-bind="cat.description"></div>
            </div>
        </div>
        <div class="block loading" ng-show="loadingContents">
            <img src="images/ajax-loader.gif"/> Поиск по содержимому (может занять около минуты)...
        </div>
        <div ng-hide="loadingContents">
            <div ng-show="noResult">
                Упоминаний в текстах томов не найденны, подкорректируйте фразу.
            </div>
            <a ng-hide="foundQuotes.length || loadingContents || loadingTerms || noResult" class="search btn btn-default" ng-click="searchInContent()">
                <i class="icon-search"></i> Искать упоминания в томах
            </a>
            <div ng-show="foundQuotes.length">
                <span class="h3" style="display: inline-block;">Цитаты из томов</span>
                <a class="btn" ng-class="{'btn-link': !showAdvancedSearch, 'btn-success': showAdvancedSearch}" ng-click="showAdvancedSearch = !showAdvancedSearch">Расширенный поиск</a>
                <div ng-show="showAdvancedSearch" class="advanced-search-block">
                    <label style="font-weight: normal">
                        Начать поиск со следующего абзаца или тома:
                        <input class="form-control" style="display: inline; width: 100px" ng-model="startSearchFrom"/>
                        <a class="btn btn-primary" ng-click="advancedSearch()">Обновить</a>
                    </label>
                </div>
                <blockquote ng-repeat="quote in foundQuotes" ng-mouseover="quote.showControlls = true"
                            ng-mouseleave="quote.showControlls = false">
                    <div ii-bind="quote.full ? quote.full : quote.quote"></div>
                    <cite>&mdash; <a ii-ref="quote">{{quote._label}}</a>
                        <span ng-show="quote.showControlls">
                            <button ng-show="termFound" class="btn btn-default btn-icon" ng-click="rateUp(quote)" title="Привязать цитату к термину" tooltip-placement="bottom" tooltip="Привязать цитату к термину">
                                <i class="icon-star"></i>
                            </button>
                            <button ng-hide="quote.full" class="btn btn-default btn-icon" ng-click="expand(quote)"
                                    title="Показать весь пункт" tooltip-placement="bottom" tooltip="Показать весь пункт">
                                <i class="icon-maximize"></i>
                            </button>
                        </span>
                    </cite>
                </blockquote>
                <button class="btn btn-success" ng-show="showLoadMore" ng-click="loadNextPage()">
                    <img src="images/ajax-loader.gif" ng-show="loadingMore" />{{loadingMore ? 'Поиск...' : 'Искать далее'}}</button>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .catBlock {
        padding-bottom: 10px;
    }
    .search {
        margin-top: 20px;
    }
    h3 {
        margin-bottom: 5px;
        display: inline;
    }
    button {
        color: #ffffff;
    }
    button.grey {
        color: #3A3A3A;
    }
    .exact-match {
        padding: 10px;
        margin-top: 10px;
        background: lemonchiffon;
        border-width: 2px;
        border-color: gold;
        border-style: solid;
    }
    #search .k-autocomplete {
        padding: 0;
    }
    #search .search-button {
        color: #ffffff;
        font-size: 100%;
    }
    /*#search .divider {
        clear: both;
    }
    #search .number {
        float: left;
    }*/
    /*#search .contentResultBlock {
        cursor: pointer;
        *//*padding-bottom: 20px;*//*
        text-align: justify;
    }*/
    /*#search .contentResultBlock div {
        display: inline;
    }*/
    #search .prompt {
        width: 400px;
    }
    .term .current-term-title {
        font-size: 2em;
        word-break: break-all;
        display: block;
    }
    @media screen and (max-width: 767px) {
        .term .current-term-title {
            font-size: 1.5em;
        }
    }
    .term .info {
        color: grey;
        font-style: italic;
        display: block;
    }
    .term .header {
        display: block;
        font-size: 1.2em;
        padding-top: 20px;
        color: gray;
    }
    .term .description {
        width: 100%;
        height: 50px;
    }
    .term .shortDescription {
        font-size: 130%
    }
    .related-btn {
        margin: 0 5px;
    }
    .highlight {
        /*font-weight: bold;*/
        border: 1px #DBEDF5 solid;
        background-color: #EFF8FD;
        padding: 2px 15px;
        margin: 30px 0;
        border-radius: 5px;
    }
    .btn-group .btn {
        margin: 0;
    }
    .advanced-search-block {
        margin: 20px 0;
        border: 2px solid rgb(238, 238, 238);
        padding: 10px 10px 5px 10px;
        border-radius: 5px;
    }
    .section {padding-bottom: 15px}
</style>

<script type="text/ng-template" id="search-contribute-form.html">
    <div class="modal-header">
        <h3 class="modal-title">Помощь проекту</h3>
    </div>
    <div class="modal-body">
        <input id="search-input" ng-model="term" type="text" class="form-control"
               ii-lookup
               typeahead="suggestion for suggestion in $getSuggestions($viewValue)"/>
        <textarea class="full-width form-control" ng-model="text" style="margin-top: 10px; min-height: 100px"></textarea>
    </div>
    <div class="modal-footer btn-group">
        <button class="btn btn-default" ng-click="quote()">Цитата</button>
        <button class="btn btn-default" ng-click="link(1)" style="margin: 0">Синоним</button>
        <button class="btn btn-default" ng-click="link(2)" style="margin: 0">Сокращение</button>
        <button class="btn btn-default" ng-click="link(4)" style="margin: 0">Космический Код</button>
        <button class="btn btn-default" ng-click="link(0)" style="margin: 0">Скланённый</button>
    </div>
</script>
