.icon-spinner,.icon-expand,.icon-thumbs-up,.icon-thumbs-up2 {
	display: inline-block;
	width: 16px;
	height: 16px;
    color: dodgerblue;
	background-image: url(sprites.png);
	background-repeat: no-repeat;
}
.icon-spinner {
	background-position: 0 0;
}
.icon-expand {
	background-position: -64px 0;
}
.icon-thumbs-up {
	background-position: -128px 0;
}
.icon-thumbs-up2 {
	background-position: -192px 0;
}
