.btn-icon {
    padding: 3px 8px 1px;
    /*font-size: 1.5em;*/
}
blockquote>cite {
    height: 30px;
    cursor: pointer;
    display: block;
}

body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Trebuchet MS', sans-serif;
    color: #00006d;
}

div[ui-view] {
    max-width: 650px;
    margin: 0 auto;
}

blockquote {
    font-size: inherit;
    padding: 0 10px;
}
/* home */
.home {
    margin: 0 auto;
    max-width: 500px;
}
.home h1 {
    text-align: center;
    font-size: 180%;
    color: rgb(7, 131, 199);
}
.home .header {
    margin: 0 auto 30px auto;
    width: 150px;
    height: 145px;
}
.footer {
    margin: 30px auto;
    text-align: center;
    /*width: 420px;*/
    /*margin-left: 100px;*/
}
/* end home */

.full-width {
    width: 100%
}

/*Live Search styles start*/
ul.searchresultspopup {
	border: #a4bed4 1px solid;
	margin-top: 0px;
	padding: 0px;
	z-index: 99999!important;
	position: fixed;
	background-color: white;
	/*max-height:200px;*/
	border-collapse: separate;
	overflow-y: hidden;
}

ul.searchresultspopup > li {
	cursor: pointer;
	padding-left: 1px;
	text-align: left;
	list-style: none;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-transform: lowercase;
}

ul.searchresultspopup li.selected, ul.searchresultspopup li:hover {
	background-color: #ededed;
}

ul.searchresultspopup b {
	color: blue;
}

ul.searchresultspopup strong {
	color: green;
}
/*Live Search styles end*/
