<!DOCTYPE html>
<html lang="ru">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <base href="/new/" >
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link href="../images/favicon.ico" rel="shortcut icon">
    <title>ИИ</title>

    <link href="lib/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/icons/style.css" rel="stylesheet" type="text/css" />

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-sanitize.min.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>
    <script src="lib/ui-bootstrap/ui-bootstrap-0.11.2.min.js"></script>
    <!--<script src="lib/ui-bootstrap/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>-->
    <!--<script src="js/live-search.js"></script>-->
    <!--<script src="lib/angular/angular-route.js"></script>-->
    <!--<script src="lib/ui-bootstrap-tpls-0.11.0.js"></script>-->

    <script src="js/controllers/item.js"></script>
    <script src="js/controllers/home.js"></script>
    <script src="js/controllers/term.js"></script>
    <script src="js/controllers/category.js"></script>
    <script src="js/app.js"></script>
    <script>
        app.constant('config', {useHtml5Mode: true, apiUrl: "/api/"});
    </script>
</head>

<body ng-app="app">
<header ng-show="text" class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderController">
        <span tooltip="{{text}}" title="{{text}}" class="navbar-brand trim-info">{{text}}</span>
        <div class="input-group" style="padding: 10px;">
            <input ng-model="query" type="text" class="form-control" placeholder="Введите термин или фразу"
                   ii-lookup
                   typeahead="suggestion for suggestion in $getSuggestions($viewValue)">
                <span class="input-group-btn" dropdown>
                  <!--<button class="btn btn-primary" ng-click="search(query)">Искать</button>-->
                        <button type="button" class="btn btn-primary">Action {{state}}</button>
                        <button type="button" class="btn btn-primary dropdown-toggle">
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Цитировать</a></li>
                            <li class="divider"></li>
                            <li><a ng-click="alert(1)">Связать с термином</a></li>
                            <li><a href="#">Синоним</a></li>
                            <li><a href="#">Другой падеж</a></li>
                            <li><a href="#">Другая форма</a></li>
                        </ul>
                </span>
        </div>
</header>
<div ui-view></div>

</body>
</html>
