<div class="home">
    <div class="header">
        <img src="images/logo.png" alt="Ииссиидиология">
    </div>
    <h1>Интерактивная Ииссиидиология</h1>
    <div>
        Поиск пунктов, терминов, словосочетаний в материалах:
        <table class="full-width">
            <tr>
                <td class="full-width">
                    <!--live-search fetch-data="searchCallback"
                                 fetch-delay="777"
                                 selected="suggestionSelected"
                                 ng-model="query"
                                 class="form-control full-width"></live-search-->
                    <input type="text" ng-model="query" placeholder="Введите термин или фразу"
                           ii-lookup
                           typeahead="suggestion for suggestion in $getSuggestions($viewValue)"
                           typeahead-on-select="$suggestionSelected($label)" class="form-control"/>
                </td>
                <td>
                    <button class="btn btn-primary" ng-click="search(query)">Искать</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="footer">
        <a class="btn" href="https://www.youtube.com/watch?v=6oZJHu1dEnQ" target="_blank">
            <img src="https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/video-16.png"/>
            Видео гид</a>
        <a class="btn" href="item/1.0001">Начать чтение</a>
        <!--<a class="btn" href="../#about">О проекте</a>-->
    </div>
</div>