<div class="term">
    <div class="block loading" ng-show="loading">Загрузка...</div>
    <span class="current-term-title">{{name}}</span>
    <div ng-hide="loading && found">
        <span class="info" ng-show="from">Перенапраленно с: {{from.name}}</span>
        <span class="info" ng-show="code">Код понятия: {{code.name}}</span>
        <span class="info" ng-show="aliases.length">Синонимы и сокращения:
            <span class="alias" ng-repeat="alias in aliases">{{alias.name}}</span>
        </span>
        <br/>
        <div class="highlight" ng-show="shortDescription && description">
            <p class="shortDescription">{{shortDescription}}</p>
            <p>{{description}}</p>
        </div>
        <!--<span class="info" data-bind="invisible: description">Нет короткого определения</span>-->
        <blockquote ng-repeat="quote in quotes">
            <div>{{quote.quote}}</div>
            <cite>&mdash; <entity ng-model="quote"/></cite>
        </blockquote>
        <span ng-show="related.length">Также связан с</span>
        <entity ng-model="link" ng-repeat="link in related" class="related-btn btn btn-default"/>
    </div>
    <span ng-hide="found" class="header">Термин не найден, воспользуйтесь пожалуйста поиском</span>
    <a href="#" data-bind="click: search">Поиск по содержимому...</a>
</div>
<style type="text/css">
    .term .current-term-title {
        font-size: 3em;
    }
    .term .info {
        color: grey;
        font-style: italic;
        display: block;
    }
    .term .header {
        display: block;
        font-size: 1.2em;
        padding-top: 20px;
        color: gray;
    }
    .term .description {
        width: 100%;
        height: 50px;
    }
    .term .shortDescription {
        font-size: 130%
    }
    .related-btn {
        margin: 0 5px;
    }
    .highlight {
        /*font-weight: bold;*/
        background-color: #eee;
        padding: 2px 15px;
        margin: 30px 0;
        border-radius: 5px;
    }
</style>
